.env
.env.*
!/.env.example
env.local
env.local 
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
artifacts/*.joblib
!artifacts/.gitkeep
streamlit_chats/
*.log
data/applications.json
data/*.json
